mat-card {
    margin: 10px;
  }
.image-div{
  text-align: center;
}
.image{
  margin-top:20px;
  width: 250px;
}
.experimentsDiv{
  display: table;
  min-width: 50%;
  max-width: 100;
}
.experimentTitle{
  display: table-cell;
  text-align: left;
}
.span{
  display: table-cell; 
  width: 50px;
}
.buttons{
  display: table-cell;
  width: 50px;
}