<section>
    <div class="imageDiv">
        <img src="assets/team.png" class="image"><br>
    </div>
  <mat-card>
    <mat-card-title>Subject Hub</mat-card-title>
    <mat-card-content>
      <button (click)="newSubject()" mat-raised-button>New Subject</button>
      <mat-list>
        <mat-list-item *ngFor="let subject of sService.subjects | async">
          <div class="subjectDiv">
              <span class="firstLast"> <b>{{subject.first_name}} {{subject.last_name}}</b> </span>
                <span class="spanSubject">
                <button (click)="editSubject(subject)" class="buttons" mat-raised-button name="edit">
                  <mat-icon>edit</mat-icon>
                </button>
              </span>
              <span class="spanSubject">
                <button (click)="deleteSubject(subject)" class="buttonsWidth" mat-raised-button name="delete">
                  <mat-icon>delete</mat-icon>
                </button>
                </span>
              </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="selectedSubject">
      <mat-card-title>Subject Form</mat-card-title>
      <mat-card-content>
        <app-subject-form [subject]="selectedSubject" (onSave)="onSave()"></app-subject-form>
      </mat-card-content>
    </mat-card>
</section>
