mat-card {
    margin: 10px;
  }
.imageDiv{
  text-align: center;
}
.image{
  width:250px;
  margin-top:20px;
}
.subjectDiv{
  display: table;
  min-width: 50%;
  max-width: 100;
}
.firstLast{
  display: table-cell;
  text-align: left;
}
.spanSubject{
  display: table-cell;
  width: 50px;
}
.buttons{
  margin: 10px;
}
.buttonsWidth{
  margin: 10px;
  width: 20px;
}