<section>
  <div class="imageDiv">
    <img src="assets/analytics.png" class="image"><br>
  </div>
  <mat-card>
    <mat-card-title>Select Session</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Experiment" [(value)]="experiment">
          <mat-option *ngFor="let _experiment of experiments | async" [value]="_experiment">
            {{_experiment.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="experiment">
        <mat-select placeholder="Subject" [(value)]="subject">
          <mat-option *ngFor="let _subject of sService.subjects | async" [value]="_subject">
            {{_subject.first_name}} {{_subject.last_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="subject && experiment">
        <mat-select placeholder="Video" [(value)]="video">
          <mat-option *ngFor="let _video of experiment.videos" [value]="_video">
            {{_video.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span>
        <button *ngIf="subject && experiment && video" mat-raised-button style="background-color:lightgreen; margin-left: 10px"
          name="fetch" (click)="getSession()" [disabled]="loadingSession">Fetch Session</button>
        <mat-spinner *ngIf="loadingSession" diameter="20"></mat-spinner>
        <div *ngIf="selectedSession"> Session ready </div>
      </span>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title> Select Classifier </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Classifier" [(value)]="classifier">
          <mat-option *ngFor="let _classifier of classifiers | async" [value]="_classifier">
            {{_classifier.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span>
        <button *ngIf="selectedSession && classifier" mat-raised-button style="background-color:lightgreen; margin-left: 10px"
          name="classify" (click)="classify()" [disabled]="loadingClfs">Classify Session</button>
        <mat-spinner *ngIf="loadingClfs" diameter="20"></mat-spinner>
      </span>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="selectedSession && classifications">
    <mat-card-title> Static Sesssion Chart </mat-card-title>
    <app-static-eeg [session]="selectedSession" [classifications]="classifications"></app-static-eeg>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</section>
