<mat-sidenav-container class="nav-container">
  <mat-sidenav  mode="side" opened="true" class="side-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/view">Connect</a>
      <a mat-list-item routerLink="/experiments">Experiments</a>
      <a mat-list-item routerLink="/media">Media</a>
      <a mat-list-item routerLink="/subjects">Subjects</a>
      <a mat-list-item routerLink="/analysis">Analysis</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <app-connection></app-connection>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



  <div style="font-family: Muli;" class="topnav">

  <a style ="font-weight: bold;"class="active" href="/home">Synap.ai</a>
  <a href="/experiments">Experiments</a>
  <a href="/media">Media</a>
  <a href="/subjects">Subjects</a>
  <a style="float:right" href="#about">About</a>
 </div>
