.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.side-nav {
  color:white;
  background-color:#709ccf;
}
.mat-list-item{
  color:white;
}
.connection{
  width:100%;
}
.toolbar{
  background-color:white;
}
.navbutton{
  color:black;
}
