<mat-sidenav-container class="nav-container">
  <mat-sidenav  #sidenav mode="side" [(opened)]="opened" class="side-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/experiments">Experiments</a>
      <a mat-list-item routerLink="/subjects">Subjects</a>
      <a mat-list-item routerLink="/stream">Stream View</a>
      <a mat-list-item routerLink="/media">Data Collection</a>
      <a mat-list-item routerLink="/analysis">Analysis</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <mat-toolbar class="toolbar">
      <button class="navbutton" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="hamburger">dehaze</mat-icon>
      </button>
      <app-connection class="connection"></app-connection>
    </mat-toolbar>
    <app-view></app-view>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



  <div style="font-family: Muli;" class="topnav">

  <a style ="font-weight: bold;"class="active" href="/home">Synap.ai</a>
  <a href="/experiments">Experiments</a>
  <a href="/media">Media</a>
  <a href="/subjects">Subjects</a>
  <a style="float:right" href="#about">About</a>
 </div>
