<mat-toolbar color="primary">
  <img src="assets/brain.svg" alt="Brain icon" class="app-icon" />
  Muse EEG Explorer
  <span class="header-fill"></span>
  <span [hidden]="!(eegStream.batteryLevel | async)" class="battery-level-indicator">
    <mat-icon>battery_std</mat-icon>{{eegStream.batteryLevel|async|number:"1.0-0"}}%
  </span>
  <mat-icon *ngIf="eegStream.connected" title="Disconnect">bluetooth_connected</mat-icon>
  <button mat-button *ngIf="Streaming" title="Disconnect" (click)="disconnect()">
      <mat-icon>stop</mat-icon>
  </button>
</mat-toolbar>
<section>
  <!-- initial unconnected screen -->
  <mat-card *ngIf="!Streaming">
    <button *ngIf="!eegStream.connecting" mat-raised-button color="primary" (click)="connect()">
      <mat-icon>bluetooth</mat-icon>
      Connect
    </button>
    <div *ngIf="connecting">
      Connecting...
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div><br><br>
    <!--File upload-->
    <div class="file-player">
      <div>
        <label style="color:#3f51b5; font-size:20px" for="file">Upload File</label><br>
        <input class="btn" #fileInput type="file" id="file" (change)="handleFileInput($event.target.files)">
      </div>
      <div> <!-- File Player-->
        <button *ngIf="eegStream.fileLoaded && !Streaming" mat-raised-button color="primary" (click)="playFile()">
          <mat-icon>play_arrow</mat-icon>
          Play File
        </button>
        <mat-spinner *ngIf="eegStream.fileLoading"></mat-spinner>
      </div>    
    </div>
    <br>
    <div class="file-player">
        <label style="color:#3f51b5; font-size:20px" for="wvae">Mock Data</label><br>
        <button *ngIf="!Streaming" id="wave" mat-raised-button color="primary" (click)="playWave()">
          <mat-icon>play_circle_outline</mat-icon>
          Play Wave Function
        </button>
    </div>
  </mat-card>
</section>
