<mat-toolbar color="primary">
  <img src="assets/brain.svg" alt="Brain icon" class="app-icon" />
  Synap.ai Muse EEG Explorer
  <span class="header-fill"></span>
  <span [hidden]="!(eegStream.batteryLevel | async)" class="battery-level-indicator">
    <mat-icon>battery_std</mat-icon>{{eegStream.batteryLevel|async|number:"1.0-0"}}%
  </span>
  <mat-icon *ngIf="eegStream.connected" title="Disconnect">bluetooth_connected</mat-icon>
  <button mat-button *ngIf="Streaming" title="Disconnect" (click)="disconnect()">
      <mat-icon>stop</mat-icon>
  </button>
  <button mat-button routerLink="/login">Login</button>
</mat-toolbar>
