<mat-toolbar class="toolbar">
  <a routerLink="/"><img src="assets/logo.png" alt="Brain icon" class="app-icon" /></a>
  <span class="header-fill"></span>
  <span [hidden]="!(eegStream.batteryLevel | async)" class="battery-level-indicator">
    <mat-icon>battery_std</mat-icon>{{eegStream.batteryLevel|async|number:"1.0-0"}}%
  </span>
  <mat-icon *ngIf="eegStream.connected" title="Disconnect">bluetooth_connected</mat-icon>
  <button mat-button *ngIf="Streaming" title="Disconnect" (click)="disconnect()">
      <mat-icon>stop</mat-icon>
  </button>
  <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login">Log In</button>
  <button *ngIf="authService.isLoggedIn()" (click)="logout()" mat-button routerLink="/login">Log Out</button>
</mat-toolbar>
