<form class="media-form" [formGroup]="mediaOptions">
  <mat-form-field>
    <input matInput #videoID formControlName="title" name="title" type="text" placeholder="Video Title" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput #videoID formControlName="youtube_id" name="youtube_id" type="text" placeholder="Youtube ID" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput #category formControlName="category" name="category" type="text" placeholder="Classification Label">
  </mat-form-field>
  <button mat-button style="background-color:lightgreen; width: 200px; margin: 10px;" (click)="save()">Save Video</button>
</form>
