.file-player > * {
    margin-top: 5px;
  }
  .btn {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;
  
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
  
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;
  
    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;
  
    /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: #3f51b5;
  }
  .item{
    width:30%;
  }

.connection-panel{
  margin-bottom: 10px;
}