<section class="connect">
    <mat-expansion-panel class="connection-panel" *ngIf="!Streaming && loggedIn" [expanded]="false">
        <mat-expansion-panel-header class="header">
            <mat-panel-title>
              <b class="title"> Connect </b>
            </mat-panel-title>
          </mat-expansion-panel-header>
      <div class="row">
        <div class="item">
          <div class="connection">
            <img src="assets/headset.png" class="image-headset"><br><br>
              <label class="label" for="file">Connect Headset</label><br><br>
              <button *ngIf="!eegStream.connecting" mat-raised-button color="primary" (click)="connect()">
                  <mat-icon>bluetooth</mat-icon>
                  Connect
                </button>
                <div *ngIf="connecting">
                  Connecting...
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
              </div>
        </div>
        <div class="item">
            <div class="file-player">
                <img src="assets/upload.png" class="image"><br><br>
                  <label class="label" for="file">Upload File</label><br><br>
                  <input class="btn" #fileInput type="file" id="file" (change)="handleFileInput($event.target.files)">
                <div> <!-- File Player-->
                  <button *ngIf="eegStream.fileLoaded && !Streaming" mat-raised-button color="primary" (click)="playFile()">
                    <mat-icon>play_arrow</mat-icon>
                    Play File
                  </button>
                  <mat-spinner *ngIf="eegStream.fileLoading"></mat-spinner>
                </div>    
              </div>
        </div>
        <div class="item">
            <div class="file-player">
                <img src="assets/video-player-outline.png" class="image"><br><br>
                <label class="label" for="wave">Mock Data</label><br><br>
                <button *ngIf="!Streaming" id="wave" mat-raised-button color="primary" (click)="playWave()">
                  <mat-icon>play_circle_outline</mat-icon>
                  Play Wave Function
                </button>
            </div>
        </div>
        <div class="item">
            <div class="session-fetcher">
                <img src="assets/cloud-download.png" class="image"><br>
                <label class="label-fetch" for="session">Fetch Session</label><br>
                <mat-form-field class="experimentField">
                    <mat-select placeholder="Experiment" [(value)]="experiment">
                      <mat-option *ngFor="let _experiment of experiments | async" [value]="_experiment">
                        {{_experiment.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="experiment">
                    <mat-select placeholder="Subject" [(value)]="subject">
                      <mat-option *ngFor="let _subject of sService.subjects | async" [value]="_subject">
                        {{_subject.last_name}} id:{{_subject.id}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="subject && experiment">
                    <mat-select placeholder="Video" [(value)]="video">
                      <mat-option *ngFor="let _video of experiment.videos" [value]="_video">
                        {{_video.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span style="display: flex; flex-direction:row; align-items: center;">
                      <button *ngIf="subject && experiment && video" id="session" [disabled]="loadingSession"  mat-raised-button color="primary" (click)="playSession()">
                          Play Session
                        </button>
                        <mat-spinner *ngIf="loadingSession" diameter="20" ></mat-spinner>
                  </span>    
            </div>
        </div>
      </div>
  </mat-expansion-panel>
  </section>

