<form class="subject-form" [formGroup]="subjectOptions">
  <mat-form-field>
    <input matInput #subjectName formControlName="name" name="Name" type="text" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="dob" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
<mat-form-field>
  <mat-select #subjectSex formControlName="sex" placeholder="Sex">
    <mat-option *ngFor = "let sex of sexes"[value]="sex.value">{{sex.value}}</mat-option>
    </mat-select>
  <!-- <input matInput #subjectSex formControlName="sex" name="subjectSex" type="text" placeholder="Sex"> -->
</mat-form-field>
<mat-form-field>
  <mat-select #subjectHand formControlName="dominantHand" placeholder="Dominant Hand">
    <mat-option *ngFor = "let hand of dominantHands"[value]="hand.value">{{hand.value}}</mat-option>
    </mat-select>
  <!-- <input matInput #subjectSex formControlName="sex" name="subjectSex" type="text" placeholder="Sex"> -->
</mat-form-field>
<button mat-button name="save" (click)="save()">Save Changes</button>
</form>