<form class="subject-form" [formGroup]="subjectOptions">
  <mat-form-field>
    <input matInput #subjectFirstName formControlName="first_name" name="FirstName" type="text" placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
      <input matInput #subjectLastName formControlName="last_name" name="LastName" type="text" placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput #subjectLastName formControlName="email" name="Email" type="text" placeholder="Email">
      </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="dob" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
<mat-form-field>
  <mat-select #subjectGender formControlName="gender" placeholder="Sex">
    <mat-option *ngFor = "let gender of genders"[value]="gender.value">{{gender.value}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select #subjectHand formControlName="dominant_hand" placeholder="Dominant Hand">
    <mat-option *ngFor = "let hand of dominant_hands"[value]="hand.value">{{hand.value}}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button style="background-color:lightgreen; width: 200px; margin-top: 10px;" name="save" (click)="save()">Save Changes</button>
</form>