<form class="subject-form" [formGroup]="subjectOptions">
  <mat-form-field>
    <input matInput #subjectFirstName formControlName="first_name" name="FirstName" type="text" placeholder="First Name" required>
  </mat-form-field>
  <mat-form-field>
      <input matInput #subjectLastName formControlName="last_name" name="LastName" type="text" placeholder="Last Name" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput #subjectLastName formControlName="email" name="Email" type="text" placeholder="Email" required>
      </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="dob" [matDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="Date of Birth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
<mat-form-field>
  <mat-select #subjectGender formControlName="gender" placeholder="Sex">
    <mat-option *ngFor = "let gender of genders"[value]="gender.value">{{gender.viewValue}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select #subjectHand formControlName="dominant_hand" placeholder="Dominant Hand">
    <mat-option *ngFor = "let hand of dominant_hands"[value]="hand.value">{{hand.viewValue}}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button class="buttons" name="save" (click)="save()">Save Changes</button>
</form>